@page "/"
@rendermode InteractiveServer



<div class="grid grid-cols-12 gap-4">
    @foreach (string file in files)
    {

        
            <a class="w-full h-full" href="@file.Substring(8, file.Length-8)" target="_blank">
                @if (file.Contains(".png") || file.Contains(".jpeg") || file.Contains(".jpg"))
                {<div class="cs-btn  overflow-x-scroll w-full h-full">
                    <img src="@file.Substring(8, file.Length-8)" />
                </div>
                }
                else {
                <div class="cs-btn  overflow-x-scroll w-full h-full">
                    @file.Substring(15, file.Length - 15)
                    </div>
                }
                
            </a>

        

    }
</div>





@code {
    public String[] files = Directory.GetFiles(@"wwwroot/Items");
    

}